@font-face {
  font-family: "OCR-B";
  src: url(https://cdn.jsdelivr.net/gh/raisty/OCR-B/dist/OCR-B.ttf) format("truetype"),
       url(https://cdn.jsdelivr.net/gh/raisty/OCR-B/dist/OCR-B.otf) format("opentype");
}

/* Neue Haas Grotesk Display */
@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('./assets/fonts/Neue_Haas_Grotesk_Collection/Neue Haas Grotesk Display Family/NeueHaasGrotDisp-45Light-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('./assets/fonts/Neue_Haas_Grotesk_Collection/Neue Haas Grotesk Display Family/NeueHaasGrotDisp-46LightItalic-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('./assets/fonts/Neue_Haas_Grotesk_Collection/Neue Haas Grotesk Display Family/NeueHaasGrotDisp-55Roman-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('./assets/fonts/Neue_Haas_Grotesk_Collection/Neue Haas Grotesk Display Family/NeueHaasGrotDisp-56Italic-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('./assets/fonts/Neue_Haas_Grotesk_Collection/Neue Haas Grotesk Display Family/NeueHaasGrotDisp-65Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasGrotesk";
  src: url('./assets/fonts/Neue_Haas_Grotesk_Collection/Neue Haas Grotesk Display Family/NeueHaasGrotDisp-75Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face{
    font-family: 'IBMPlexMono';
    src: url('./assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
    font-display: swap; 
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'NeueHaasGrotesk', sans-serif;
    font-weight: 400;
    overscroll-behavior: none;
    box-sizing: border-box;
    overflow-x: hidden;
}


.home-container{
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.header{
    height: 100px; 
    width: 90%; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-weight: bolder;
}

.name{
    font-size: 44px;
    font-weight: 400;
    margin-left: 5px; 
    color: rgb(48, 48, 48);

}

.menu{
    width: 200px; 
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px; 
}

.menu-item{
    cursor: pointer;
}

.selectedFontColor{
    color: rgb(97, 97, 97); 
    font-weight: 400; 
}

.notSelectedFontColor{
    color: rgb(160, 160, 160);
    font-weight: 400; 
}

.context{
    width: 90%;
    margin: 0 auto;
    flex: 1;
}

.footer{
    width: 90%;
    height: 100px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(97, 97, 97); 
}

.footerHidden{
    display: none; 
}

.SNS{
    width: 200px;
    height: 100px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SNS button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit; 
    color: inherit; 
    cursor: pointer;
    outline: inherit;
}

.sns-logo{
    width: 40px; 
    height: 40px; 
    object-fit: cover; 
    object-position: center;
    border-radius: 50%;
    
}

.topButton{
    background: none;
    border: none;
    padding: 0; margin: 0; 
    font: inherit; 
    color: inherit; 
    cursor: pointer;
    outline: inherit;
    color: rgb(97, 97, 97); 
}

