
.gallary{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.gallary-item{
    box-sizing: border-box;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallary-item-img{
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
}

.gallary-item-description{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0;
    margin-top: 5px;
    color: #2f2f2f;
}

.gallary-item-description p{
    padding: 0; 
    margin: 0; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95); /* Optional: slight zoom effect */
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.gallary-item-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.94);
    z-index: 1000;
    animation: fadeIn 0.5s ease-in forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn {
    position: absolute;
    top: 40px;
    left: 40px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 1001;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    font-size: 24px; 
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-family: 'IBMPlexMono', sans-serif;

}

.close-btn:hover {
    background-color: lightgray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.gallary-context{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gallary-library{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.current-gallary-img{
    display: block;
    object-fit: fill;
    object-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.previous-button{
    width: 80px; 
    height: 45px;
    color: black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px; 
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-family: 'IBMPlexMono', sans-serif;

}

.previous-button:hover{
    background-color: lightgray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.next-button{
    width: 80px; 
    height: 45px;
    color: black;   
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px; 
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-family: 'IBMPlexMono', sans-serif;

}

.next-button:hover{
    background-color: lightgray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

